@import '/../styles';

app-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 64px;
  width: 100%;
}

app-footer {
  position: fixed;
  bottom: 0;
  display: flex;
}

.app-body {
  background-color: mat-color($app-dark-primary);
  overflow: auto;
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0;
  top: 64px;
  padding: 0 20px;
}
